<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/style.css">
    <title>About</title>
</head>
<body>
    <section class="section2">
        <div>
            <h1>About</h1>
            <p>Marvin Gaye sang in his father's church and in the Moonglows before signing with Motown. He recorded songs by Smokey Robinson before becoming his own producer on the protest album What's Going On (1971). 
            <br> Gaye's later records developed his production style and yielded several hits, including "Let's Get It On," "Sexual Healing" and "I Heard it Through the Grapevine". 
            <br> Gaye was killed in 1984 during a domestic dispute with his father.</p>
        </div>
    </section>
</body>
</html>