<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>works</title>
    <link rel="stylesheet" href="../public/style.css">
</head>
<body>
    <section class="section2">
        <div>
            <h1>Work</h1>
            <p>What’s Going On. Marvin’s masterwork, and the single most revered album in Motown history. You may think you know it, but dive deep – again and again – for the subtleties of voice and musicianship, alongside the timeless lyrics.
                moods of marvin sale
                Moods Of Marvin Gaye. This offers the most explosive first side of any Gaye album of the 1960s, including a four-pack of hits produced by Smokey Robinson. “Ain’t That Peculiar” alone is worth the price of entry. Later, on the final track, Marvin channels Sinatra.
                Marvin Gaye lets get it onLet’s Get It On. Marvin’s first 1970s excursion into carnal knowledge, sure, but with his subtle, and sometimes subversive, approach to each song’s essence. Collaborator Ed Townsend helped give him purpose, discipline and structure.
            </p>
        </div>
    </section>
</body>
</html>